@using u21528498_HW03.Models
@model List<FileModel>
@{
    ViewBag.Title = "Documents";
}
<br />
<br />
<table class="table table-condensed table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="col-lg-8">File Name</th>
            <th class="t, col-lg-2"> Download</th>
            <th class="t, col-lg-2"> Delete</th>
        </tr>
    </thead>
    @foreach(FileModel file in Model)
            {
                <tr>
                    <td> @file.FileName</td>
                    <td>
                        <button type="button" class="btn btn-success">
                            @Html.ActionLink("Download", "DownloadFile", new {fileName = file.FileName})
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger"> 
                            @Html.ActionLink("Delete", "DeleteFile", new { fileName = file.FileName },
                           new { onclick = "return confirm('Are you sure?');"})
                        </button>
                    </td>
                </tr>
            }
</table>

