@{
    ViewBag.Title = "About";
}
<h2>Get to know Maropeng</h2>
<h4>Maropeng Mphahlele</h4>

<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 30px"> Bio </h5>
                    <small>
                         Maropeng is a second year student at the University of Pretoria. She is studying BIT Information
                        Systems. The course is a rollercoaster to say the least but we have to ride it regardless. Growing
                        up she did not know anything about programming till high school in grade 10. She enjoyed it so much
                        she enrolled for it in university. Maropeng loves helping people and she is very kind, most of her
                        time is spent doing school work or watching kdramas, sometimes she goes out with her friends. She is nice
                    </small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-title" style="font-size: 30px"> Maropeng </div>
                <img class="card-img-right" src="~/IMG-20220607-WA0008.jpg" alt="maropeng" style="width: 150px"/>
                
            </div>
        </div>
    </div>
</div>

